@model IEnumerable<string>

<a class="a-panel"
   asp-action="List"
   asp-controller="Eavent"
   asp-route-category="">
    Strona główna
</a>

@foreach (string category in Model)
{
<a class="a-panel"
   asp-action="List"
   asp-controller="Eavent"
   asp-route-category="@category"
   asp-route-productPage="1">
    >
    @category
</a>
}